.navbar-logo,
.coming-soon .brand .logo,
.login .login-header .brand .logo {
    border-color: #2F83CF #2a72b5 #1f5688;
}
.navbar.navbar-inverse .navbar-brand,
.sidebar .nav > li.active > a, 
.sidebar .nav > li.active > a:focus, 
.sidebar .nav > li.active > a:hover,
.flat-black .sidebar .nav > li.active > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.label.label-theme,
.btn.btn-scroll-to-top {
    background: #348fe2;
}
.navbar.navbar-inverse .navbar-brand {
    color: #fff !important;
}
.text-theme,
.sidebar .sub-menu > li.active > a:before {
    color: #348fe2;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-header {
        background: #348fe2;
    }
}
.gradient-enabled .navbar.navbar-inverse .navbar-brand,
.gradient-enabled .sidebar .nav > li.active > a, 
.gradient-enabled .sidebar .nav > li.active > a:focus, 
.gradient-enabled .sidebar .nav > li.active > a:hover,
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, 
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, 
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.gradient-enabled .label.label-theme,
.gradient-enabled .btn.btn-scroll-to-top {
    background: rgb(103,176,240); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3YjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDhmZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(103,176,240,1) 0%, rgba(52,143,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(103,176,240,1)), color-stop(100%,rgba(52,143,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(103,176,240,1) 0%,rgba(52,143,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(103,176,240,1) 0%,rgba(52,143,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(103,176,240,1) 0%,rgba(52,143,226,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(103,176,240,1) 0%,rgba(52,143,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67b0f0', endColorstr='#348fe2',GradientType=0 ); /* IE6-8 */
}
.pace  .pace-progress {
    background: #348fe2;
}
.pace .pace-activity {
    border-top-color: #348fe2;
    border-left-color: #348fe2;
}
.login.login-v2 .bootstrap-select .btn.btn-default {
    background: transparent;
    border: 0;
}
.login.login-v2 .bootstrap-select a {
    color: #000;
}
.login.login-v2 .input-group-addon {
    background: url(../images/transparent/black-0.4.png);
    background: rgba(0,0,0,.4);
}
.login.login-v2 legend {
    color: #fff;
}
.navbar-default .navbar-brand {
    font-size: 3em;
}
.navbar-default .navbar-brand .fa {
    color: #c70ec7;
}
.table .action {
    padding: 0 15px;
    vertical-align: middle;
}
.table .action a {
    display: inline-block;
}
.m-t-m-30 {
    margin-top: -30px !important;
}
input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}
input[type=checkbox].css-checkbox + label.css-label {
    padding-left:45px;
    height:40px; 
    display:inline-block;
    line-height:40px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:40px;
    vertical-align:middle;
    cursor:pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -40px;
}
label.css-label {
    background-image:url('../images/starcheckbox.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sidebar .filters-applied {
    background-color: #fff;
}
.sidebar .filters-applied > li {
    padding: 8px 20px;
    line-height: 20px;
    color: #333;
    position: relative;
}
.sidebar .filters-applied > li .filter-label {
    font-weight: bold;
}
.sidebar .filters-applied > li > a {
    padding: 0;
    line-height: inherit;
    color: inherit;
    display: inline-block;
    position: absolute;
    right: -10px;
}
.sidebar .filters-applied > li > a.clear-all {
    position: relative;
    left: 0;
}
.sidebar .filters-applied > li > a:hover {
    background-color: transparent;
}
.sidebar .nav > li.nav-header {
    font-size: 13px;
    font-weight: bold;
    background-color: #6d7983;
    color: #fff;
}
.sidebar .filters .sub-menu {
    padding: 10px 0 10px 10px;
}
.sidebar .filters .sub-menu::before, .sidebar .filters .sub-menu > li > a::before {
    display: none;
}
.sidebar .filters .sub-menu > li {
    padding: 5px 20px;
    color: #889097;
    font-weight: 300;
}
.sidebar .filters .sub-menu > li > a {
    padding: 0;
}
.sidebar .filters .sub-menu > li  label {
    color: #889097;
    font-weight: 300;
}